In [86]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier

In [87]:
treino = pd.read_csv('train.csv')
teste = pd.read_csv('test.csv')

In [88]:
treino.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [89]:
teste.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,ba0cc30ba34e7a46764c09dfc38ed83d15828897,43,RS,19,F,1,1,1,3,1,...,NaN,NaN,E,E,H,B,B,C,D,A
1,177f281c68fa032aedbd842a745da68490926cd2,15,PA,24,M,3,2,1,4,1,...,NaN,NaN,B,C,B,A,A,C,D,A
2,6cf0d8b97597d7625cdedc7bdb6c0f052286c334,29,BA,16,F,2,1,3,0,1,...,NaN,NaN,E,F,G,B,B,A,NaN,D
3,5c356d810fa57671402502cd0933e5601a2ebf1e,41,PR,17,F,1,1,2,0,2,...,40.0,480.0,E,E,E,C,B,B,C,A
4,df47c07bd881c2db3f38c6048bf77c132ad0ceb3,53,DF,19,F,1,1,1,1,1,...,80.0,720.0,E,E,E,B,B,B,D,A

In [90]:
treino.shape

(13730, 167)

In [91]:
teste.shape

(4570, 43)

In [92]:
#Deixando só as colunas que estão na base de teste na base de treino
colunas_teste = list(teste)
colunas_teste.append('IN_TREINEIRO')
treino = treino[colunas_teste]

In [93]:
treino.shape

(13730, 44)

In [94]:
teste.shape

(4570, 43)

In [95]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4570 entries, 0 to 4569
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            4570 non-null   object
 1   CO_UF_RESIDENCIA        4570 non-null   int64
 2   SG_UF_RESIDENCIA        4570 non-null   object
 3   NU_IDADE                4570 non-null   int64
 4   TP_SEXO                 4570 non-null   object
 5   TP_COR_RACA             4570 non-null   int64
 6   TP_NACIONALIDADE        4570 non-null   int64
 7   TP_ST_CONCLUSAO         4570 non-null   int64
 8   TP_ANO_CONCLUIU         4570 non-null   int64
 9   TP_ESCOLA               4570 non-null   int64
 10  TP_ENSINO               1426 non-null   float64
 11  TP_DEPENDENCIA_ADM_ESC  1426 non-null   float64
 12  IN_BAIXA_VISAO          4570 non-null   int64
 13  IN_CEGUEIRA             4570 non-null   int64
 14  IN_SURDEZ               4570 non-null   int64
 15  IN_DISLEXIA             4570 non-null   int64
 16  IN_DISCALCULIA          4570 non-null   int64
 17  IN_SABATISTA            4570 non-null   int64
 18  IN_GESTANTE             4570 non-null   int64
 19  IN_IDOSO                4570 non-null   int64
 20  TP_PRESENCA_CN          4570 non-null   int64
 21  TP_PRESENCA_CH          4570 non-null   int64
 22  TP_PRESENCA_LC          4570 non-null   int64
 23  TP_PRESENCA_MT          4570 non-null   int64
 24  NU_NOTA_CN              3458 non-null   float64
 25  NU_NOTA_CH              3458 non-null   float64
 26  NU_NOTA_LC              3400 non-null   float64
 27  TP_LINGUA               4570 non-null   int64
 28  TP_STATUS_REDACAO       3400 non-null   float64
 29  NU_NOTA_COMP1           3400 non-null   float64
 30  NU_NOTA_COMP2           3400 non-null   float64
 31  NU_NOTA_COMP3           3400 non-null   float64
 32  NU_NOTA_COMP4           3400 non-null   float64
 33  NU_NOTA_COMP5           3400 non-null   float64
 34  NU_NOTA_REDACAO         3400 non-null   float64
 35  Q001                    4570 non-null   object
 36  Q002                    4570 non-null   object
 37  Q006                    4570 non-null   object
 38  Q024                    4570 non-null   object
 39  Q025                    4570 non-null   object
 40  Q026                    4570 non-null   object
 41  Q027                    2133 non-null   object
 42  Q047                    4570 non-null   object
dtypes: float64(12), int64(20), object(11)
memory usage: 1.5+ MB

In [96]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            13730 non-null  object
 1   CO_UF_RESIDENCIA        13730 non-null  int64
 2   SG_UF_RESIDENCIA        13730 non-null  object
 3   NU_IDADE                13730 non-null  int64
 4   TP_SEXO                 13730 non-null  object
 5   TP_COR_RACA             13730 non-null  int64
 6   TP_NACIONALIDADE        13730 non-null  int64
 7   TP_ST_CONCLUSAO         13730 non-null  int64
 8   TP_ANO_CONCLUIU         13730 non-null  int64
 9   TP_ESCOLA               13730 non-null  int64
 10  TP_ENSINO               4282 non-null   float64
 11  TP_DEPENDENCIA_ADM_ESC  4282 non-null   float64
 12  IN_BAIXA_VISAO          13730 non-null  int64
 13  IN_CEGUEIRA             13730 non-null  int64
 14  IN_SURDEZ               13730 non-null  int64
 15  IN_DISLEXIA             13730 non-null  int64
 16  IN_DISCALCULIA          13730 non-null  int64
 17  IN_SABATISTA            13730 non-null  int64
 18  IN_GESTANTE             13730 non-null  int64
 19  IN_IDOSO                13730 non-null  int64
 20  TP_PRESENCA_CN          13730 non-null  int64
 21  TP_PRESENCA_CH          13730 non-null  int64
 22  TP_PRESENCA_LC          13730 non-null  int64
 23  TP_PRESENCA_MT          13730 non-null  int64
 24  NU_NOTA_CN              10341 non-null  float64
 25  NU_NOTA_CH              10341 non-null  float64
 26  NU_NOTA_LC              10133 non-null  float64
 27  TP_LINGUA               13730 non-null  int64
 28  TP_STATUS_REDACAO       10133 non-null  float64
 29  NU_NOTA_COMP1           10133 non-null  float64
 30  NU_NOTA_COMP2           10133 non-null  float64
 31  NU_NOTA_COMP3           10133 non-null  float64
 32  NU_NOTA_COMP4           10133 non-null  float64
 33  NU_NOTA_COMP5           10133 non-null  float64
 34  NU_NOTA_REDACAO         10133 non-null  float64
 35  Q001                    13730 non-null  object
 36  Q002                    13730 non-null  object
 37  Q006                    13730 non-null  object
 38  Q024                    13730 non-null  object
 39  Q025                    13730 non-null  object
 40  Q026                    13730 non-null  object
 41  Q027                    6357 non-null   object
 42  Q047                    13730 non-null  object
 43  IN_TREINEIRO            13730 non-null  int64
dtypes: float64(12), int64(21), object(11)
memory usage: 4.6+ MB

In [97]:
#verificando quantidade de dados nulos
treino.isna().sum()

NU_INSCRICAO                 0
CO_UF_RESIDENCIA             0
SG_UF_RESIDENCIA             0
NU_IDADE                     0
TP_SEXO                      0
TP_COR_RACA                  0
TP_NACIONALIDADE             0
TP_ST_CONCLUSAO              0
TP_ANO_CONCLUIU              0
TP_ESCOLA                    0
TP_ENSINO                 9448
TP_DEPENDENCIA_ADM_ESC    9448
IN_BAIXA_VISAO               0
IN_CEGUEIRA                  0
IN_SURDEZ                    0
IN_DISLEXIA                  0
IN_DISCALCULIA               0
IN_SABATISTA                 0
IN_GESTANTE                  0
IN_IDOSO                     0
TP_PRESENCA_CN               0
TP_PRESENCA_CH               0
TP_PRESENCA_LC               0
TP_PRESENCA_MT               0
NU_NOTA_CN                3389
NU_NOTA_CH                3389
NU_NOTA_LC                3597
TP_LINGUA                    0
TP_STATUS_REDACAO         3597
NU_NOTA_COMP1             3597
NU_NOTA_COMP2             3597
NU_NOTA_COMP3             3597
NU_NOTA_COMP4             3597
NU_NOTA_COMP5             3597
NU_NOTA_REDACAO           3597
Q001                         0
Q002                         0
Q006                         0
Q024                         0
Q025                         0
Q026                         0
Q027                      7373
Q047                         0
IN_TREINEIRO                 0
dtype: int64

In [98]:
#verificando quantidade de dados nulos
teste.isna().sum()

NU_INSCRICAO                 0
CO_UF_RESIDENCIA             0
SG_UF_RESIDENCIA             0
NU_IDADE                     0
TP_SEXO                      0
TP_COR_RACA                  0
TP_NACIONALIDADE             0
TP_ST_CONCLUSAO              0
TP_ANO_CONCLUIU              0
TP_ESCOLA                    0
TP_ENSINO                 3144
TP_DEPENDENCIA_ADM_ESC    3144
IN_BAIXA_VISAO               0
IN_CEGUEIRA                  0
IN_SURDEZ                    0
IN_DISLEXIA                  0
IN_DISCALCULIA               0
IN_SABATISTA                 0
IN_GESTANTE                  0
IN_IDOSO                     0
TP_PRESENCA_CN               0
TP_PRESENCA_CH               0
TP_PRESENCA_LC               0
TP_PRESENCA_MT               0
NU_NOTA_CN                1112
NU_NOTA_CH                1112
NU_NOTA_LC                1170
TP_LINGUA                    0
TP_STATUS_REDACAO         1170
NU_NOTA_COMP1             1170
NU_NOTA_COMP2             1170
NU_NOTA_COMP3             1170
NU_NOTA_COMP4             1170
NU_NOTA_COMP5             1170
NU_NOTA_REDACAO           1170
Q001                         0
Q002                         0
Q006                         0
Q024                         0
Q025                         0
Q026                         0
Q027                      2437
Q047                         0
dtype: int64

In [99]:
#Substituindo valores nulos por 0.
treino = treino.replace(np.NAN,0)
teste = teste.replace(np.NAN,0)

In [100]:
treino.isna().sum()

NU_INSCRICAO              0
CO_UF_RESIDENCIA          0
SG_UF_RESIDENCIA          0
NU_IDADE                  0
TP_SEXO                   0
TP_COR_RACA               0
TP_NACIONALIDADE          0
TP_ST_CONCLUSAO           0
TP_ANO_CONCLUIU           0
TP_ESCOLA                 0
TP_ENSINO                 0
TP_DEPENDENCIA_ADM_ESC    0
IN_BAIXA_VISAO            0
IN_CEGUEIRA               0
IN_SURDEZ                 0
IN_DISLEXIA               0
IN_DISCALCULIA            0
IN_SABATISTA              0
IN_GESTANTE               0
IN_IDOSO                  0
TP_PRESENCA_CN            0
TP_PRESENCA_CH            0
TP_PRESENCA_LC            0
TP_PRESENCA_MT            0
NU_NOTA_CN                0
NU_NOTA_CH                0
NU_NOTA_LC                0
TP_LINGUA                 0
TP_STATUS_REDACAO         0
NU_NOTA_COMP1             0
NU_NOTA_COMP2             0
NU_NOTA_COMP3             0
NU_NOTA_COMP4             0
NU_NOTA_COMP5             0
NU_NOTA_REDACAO           0
Q001                      0
Q002                      0
Q006                      0
Q024                      0
Q025                      0
Q026                      0
Q027                      0
Q047                      0
IN_TREINEIRO              0
dtype: int64

In [101]:
teste.isna().sum()

NU_INSCRICAO              0
CO_UF_RESIDENCIA          0
SG_UF_RESIDENCIA          0
NU_IDADE                  0
TP_SEXO                   0
TP_COR_RACA               0
TP_NACIONALIDADE          0
TP_ST_CONCLUSAO           0
TP_ANO_CONCLUIU           0
TP_ESCOLA                 0
TP_ENSINO                 0
TP_DEPENDENCIA_ADM_ESC    0
IN_BAIXA_VISAO            0
IN_CEGUEIRA               0
IN_SURDEZ                 0
IN_DISLEXIA               0
IN_DISCALCULIA            0
IN_SABATISTA              0
IN_GESTANTE               0
IN_IDOSO                  0
TP_PRESENCA_CN            0
TP_PRESENCA_CH            0
TP_PRESENCA_LC            0
TP_PRESENCA_MT            0
NU_NOTA_CN                0
NU_NOTA_CH                0
NU_NOTA_LC                0
TP_LINGUA                 0
TP_STATUS_REDACAO         0
NU_NOTA_COMP1             0
NU_NOTA_COMP2             0
NU_NOTA_COMP3             0
NU_NOTA_COMP4             0
NU_NOTA_COMP5             0
NU_NOTA_REDACAO           0
Q001                      0
Q002                      0
Q006                      0
Q024                      0
Q025                      0
Q026                      0
Q027                      0
Q047                      0
dtype: int64

In [102]:
#Selecionando só colunas numéricas para usar como features
coluna_features = treino.select_dtypes(include=['float64','int64']).columns
coluna_features = coluna_features.drop('IN_TREINEIRO')
coluna_label = ['IN_TREINEIRO']

In [103]:
#Dividindo o dataset treino_dados em 2, o dataset de treino e teste
X_treino,X_teste,Y_treino,Y_teste = train_test_split(treino[coluna_features].to_numpy()
                                                     ,treino[coluna_label].to_numpy())

In [104]:
#Vendo quantas linhas em cada dataset 
X_treino.shape,X_teste.shape,Y_treino.shape,Y_teste.shape

((10297, 32), (3433, 32), (10297, 1), (3433, 1))

In [105]:
modelo = DecisionTreeClassifier()
modelo.fit(X_treino, Y_treino)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [106]:
#Realizando predição e checando no mean_squared_error
modelo_predicoes = modelo.predict(X_teste)
avaliacao = mean_squared_error(Y_teste, modelo_predicoes)
print(f"Minha avaliação nos dados de teste foi de {avaliacao}")

Minha avaliação nos dados de teste foi de 0.006408389163996504

In [107]:
#Atribuindo nosso modelo para realizar classificação
MODELO = modelo
X_desafio = teste[coluna_features].to_numpy()
predicao_desafio = MODELO.predict(X_desafio)

In [108]:
#Montando Dataframe de saída
desafio_df = pd.DataFrame(teste.NU_INSCRICAO)

In [109]:
#Atribuindo a classifição ao nosso dataframe com o nome de coluna "IN_TREINEIRO"
desafio_df ['IN_TREINEIRO'] = predicao_desafio

In [110]:
desafio_df.set_index("NU_INSCRICAO",inplace=True)

In [111]:
desafio_df

                                          IN_TREINEIRO
NU_INSCRICAO
ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
177f281c68fa032aedbd842a745da68490926cd2             0
6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
5c356d810fa57671402502cd0933e5601a2ebf1e             0
df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0
...                                                ...
361b7fcd8867119550fe2af5aa729ffad89a7cf5             0
d8a0e4c9e29494cc9bba2422bd79333931475ee1             0
3f1c3388244df8d6521e983a809292d9f3bca643             0
1778e9c4cef591beb6b986d191d15ed05de816b0             0
096809759695097e384e766d2d9e23a34fc81610             0

[4570 rows x 1 columns]

In [112]:
#Gerando o arquivo a ser enviado pra o teste
desafio_df.to_csv('answer.csv')