# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
black_friday.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [64]:
black_friday.shape

(537577, 12)

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [13]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape
    
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [18]:
def q2():
    # Retorne aqui o resultado da questão 2.
    df_M = (black_friday[(black_friday['Gender'] == 'F')&(black_friday['Age'] == '26-35')])
    return int(df_M['User_ID'].count())
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [7]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [28]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return int(black_friday.dtypes.value_counts().count())
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [9]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return 1-float(len(black_friday.dropna(how='any'))/len(black_friday))
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [16]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isna().sum().max())
    pass

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [25]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return int(black_friday['Product_Category_3'].dropna().mode())
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [26]:
def q8():
    # Retorne aqui o resultado da questão 8.
    min = black_friday.Purchase.min()
    max = black_friday.Purchase.max()
    return float(((black_friday.Purchase - min)/(max - min)).mean())
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [27]:
def q9():
    # Retorne aqui o resultado da questão 9.
    black_friday['padronizado'] = (black_friday.Purchase.mean()-black_friday.Purchase)/black_friday.Purchase.std()
    black_friday['normalizado'] = pd.cut(black_friday['padronizado'],
                                                        bins=(-1,1,2),
                                                            labels = ('-1 a 1','1 a 2'))
    df_N = black_friday[(black_friday['normalizado']== '-1 a 1')]
    return int(df_N['User_ID'].count()) 
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [14]:
def q10():
    # Retorne aqui o resultado da questão 10.
    categoria2 = black_friday.Product_Category_2.isna()
    categoria3 = black_friday.Product_Category_3.isna()
    
    categoria2_tamanho = categoria2.sum()
    juncao = ((categoria2 == True)&(categoria3 == True)).sum()

    if juncao == categoria2_tamanho:
        return True
    else:
        return False
    pass